{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @package   tool_whoiswho
    @copyright 02/09/2025 Mfreak.nl | LdesignMedia.nl - Luuk Verhoeven
    @author    Luuk Verhoeven
    
    @template block/table
    Comment text
}}

<div class="row">
    {{#items}}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {{cardheader}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{cardvalue}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas {{cardicon}} fa-2x text-gray-300"></i>
                        </div>
                    </div>
                    <a href="{{overviewurl}}" class="btn btn-primary mt-5 text-center"> {{#str}}overviewlinktitle:dashboard, tool_whoiswho{{/str}}</a>
                </div>
            </div>
        </div>
    {{/items}}
</div>
