{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @package   tool_whoiswho
    @copyright 2025 LdesignMedia.nl
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
    
    @template tool_whoiswho/users_overview
    
    Users overview page template displaying filter form and users table.
    
    Context variables required for this template:
    * dashboardurl - URL to dashboard page
    * filterform - HTML for the filter form
    * table - HTML for the users table
    * hasfilters - Boolean indicating if filters are active

    Example context (json):
    {
        "dashboardurl": "/admin/tool/whoiswho/view/dashboard.php",
        "filterform": "<form>...</form>",
        "table": "<table>...</table>",
        "hasfilters": true
    }
}}

<div class="tool-whoiswho-users-overview">
    {{! Back to dashboard button }}
    <div class="mb-3">
        <a href="{{{dashboardurl}}}" class="btn btn-secondary">
            ← {{#str}}backtodashboard, tool_whoiswho{{/str}}
        </a>
    </div>

    {{! Filter form }}
    <div class="users-filter-form mb-3">
        {{{filterform}}}
    </div>

    {{! Users table }}
    <div class="users-table-container">
        {{{table}}}
    </div>
</div>
